.apartment-review {
    margin-right: 100px;

    .host-profile {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        h3 {
            margin-block: 0;
            margin-right: 10px;
            font-family: "Montserrat";
            font-size: 18px;
            font-weight: 500;
            color: #FF6060;
            display: flex;
            flex-direction: column;
            align-items: end;
        }
        
        img {
            height: 65px;
            width: 65px;
            border-radius: 50px;
        }
    }

    .rating {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 1rem;
    
        img {
            width: 18px;
            height: 18px;
            color: #E3E3E3;  
        }
    }
}

@media screen and (max-width: 844px) {
    .apartment-review {
        margin-inline: 30px;
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;

        .host-profile {
            h3 {
                margin-right: 10px;
                display: flex;
                justify-content: end;
            }
        }
        
        .rating {
            margin-right: auto;
            margin-top: 1.5rem;
        }
    }
  }