.apartment {
    display: grid;
    align-items: end;
    height: 300px;
    text-decoration: none;
    position: relative;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(85%);
    }

    .location-title {
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: 500;
        color: #FFF;
        margin-inline: 15px;
        position: absolute;
    }
}