.apartment-container {
    margin-inline: 100px;
    margin-top: 35px;
    margin-bottom: 60px;
    padding: 30px 30px;
    gap: 40px;
    background-color: #f6f6f6;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    
    @media screen and (max-width: 844px) {
        justify-content: center;
        background-color: white;
        grid-template-columns: 1fr;
        margin: 0;
    }
}
