.apartment-title {
    margin-left: 100px;
    margin-right: auto;
    font-family: "Montserrat";

    h1 {
        font-size: 36px;
        font-weight: 500;
        color: #FF6060;
        margin-block: 0px;
    }

    h2 {
        font-size: 18px;
        font-weight: 500;
        color: #000;
        margin-block: 10px;       
    }

    .tag {
        display: flex;
        flex-direction: row;
        gap: 10px;
        flex-wrap: wrap;

        p {
            font-size: 14px;
            font-weight: 700;
            color: #FFF;      
            background-color: #FF6060;
            padding-inline: 50px;
            padding-block: 5px;
            margin: 0;
            border-radius: 30px;
        }
    }
}

@media screen and (max-width: 844px) {
    .apartment-title {
      margin-inline: 30px;

      h1 {
        font-size: 18px;
      }

      h2 {
        font-size: 14px;
      }

      .tag {
        margin-bottom: 10px;
        p {
          font-size: 10px;         
        }

      }
    }
}