.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
  color: #FF6060;
  font-size: 35px;
  font-weight: 600;
}

.apartment-body {
  display: flex;
  flex-direction: row;
}

.apartment-collapse {
    margin-top: 25px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-inline: 100px;
    gap: 100px;
    
    ul {
      list-style-type: none;
      text-align: left;
      padding: 0;
      margin-top: 0;

      li {
        margin-bottom: 4px;
      }
    }
}

@media screen and (max-width: 844px) {
  .apartment-body {
    display: flex;
    flex-direction: column;
  }

  .apartment-collapse {
    display: flex;
    flex-direction: column;
    margin-inline: 30px;
    margin-bottom: 0;
    gap: 0;
  }
}

